
li{
  list-style-type: none;
  cursor: pointer;
}

.badgers{
  background-color: #ddd;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.selected p{
  background-color: #bbb ;
}
.jumbotron {
  border-radius: 20px;
}
.selectedname{
  margin-right: 20px;
}
.btn:hover{
  background-color: #ccc;

}
.btn-delete{
}
