<div *ngIf="wear">
  <h2 class="text-center">Szczególy produktu: {{wear.name}}</h2>
  <div><label>Id: </label> {{wear.id}}</div>

   <div> <img class="img-responsive image" src="src/app/clothes.jpg" alt="Ubrania"></div>

  <div class="form-group">
    <label for="name">Nazwa:</label>
    <input [(ngModel)]="wear.name" type="name" class="form-control" id="name" placeholder="nazwa">
  </div>

  <div class="form-group">
    <label for="comment">Opis:</label>
    <textarea [(ngModel)]="wear.description" class="form-control" rows="5" id="comment" placeholder="opis"></textarea>
  </div>

  <div class="form-group">
  <label class="btn btn-default btn-file">
      Przegladaj obrazki <input  type="file" style="display: none;">
  </label>
  </div>
  <button (click)="save()">Save</button>
  <button (click)="goBack()">Back</button>
</div>
