.weardesc{
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

.jumbotron{
  cursor: pointer;
}

.wearimg{
  border-radius: 20px;
}

.weardesc{
  margin-top: 20px;
}

.wearname{
  letter-spacing: 3px;
  padding-bottom: 20px;
  font-weight: 800;
  border-bottom: 3px solid #222;
  border-width: thick;
}
